* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;

    /* align-items: center; */
}

.page {
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.page img {
    width: 50px;
}

.page a {
    color: #000;
    text-decoration: none;
    font-family: 'Open Sans';
}

.wrapper-full {
    background-color: #3B2F63;
    background-image: radial-gradient(circle at 50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), radial-gradient(circle at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.logo {
    width: 143px;
    height: 40px;
    fill: azure;
}

.heroku-logo {
    fill: azure;
}
a {
    text-decoration: none;
    color: hotpink;
    font-weight: bold;
}
.nav-menu {
    display: flex;
    gap: 4%;
    list-style: none;
    padding: 0;

}
/* .dropdown {
    display:none;
}
.dropdown:hover {
    display:block;
} */


.nav.item {
   
}



.nav-text {
   

}

.sub-menu {
  
 
}
.has-dropdown{
    color: #e91818;
}
.sub-menu:hover  {
    display: block;
  }
