* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  text-decoration: none;
  color: #f0ecec;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.page {
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.page img {
  width: 50px;
}
.page a {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans";
}




.wrapper-full {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3b2f63;
  background-image: radial-gradient(circle at 50% top,
      rgba(84, 90, 182, 0.6) 0%,
      rgba(84, 90, 182, 0) 75%),
    radial-gradient(circle at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
  width: 100%;
  padding: 3%;
}

.main-nav {
  display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;

}

.logo {
 
  fill: azure;
  margin-right: 3%;
}

/* Color of logo doesnt change */
.heroku-logo {
  fill: azure;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
   gap: 3%;
  margin-left: 2%;
  
  /* I aplly wrap wrap why nav-text stand on 2 lines */
}

/* why the hover doesnt work 
.dropdown {
    display: none;
}
.dropdown:hover {
    display: block;
}
*/

.nav-seach {
  margin-left: 10%;
}

.header-name {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-name img {
  width: 10%;
}

.header-name h1 {
  margin: 3%;
}

.header-name {
  margin: 10%;
}

.search {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1) !important;
}

main {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-subnav {

  background-color: azure;

}
.ad-once {
  
  display: flex;
 justify-content: center;
  align-items: center;
}

.page-subnav a{
  display: flex;
  flex-wrap: wrap;
  color: #000;
  padding: 2%;
}
.Officially-Supported-Buildpacks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(180, 173, 173);
  margin-bottom: 2%;

}
.category-label {
  display: flex;
 gap: 5%;
 padding: 2%;
  }
.category-label  h5 {
  color: #000;
}
.category-label  a {
  color: #000;
}

.official-buildpacks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;

}
.official-buildpacks-block {
  background-image: url(../assets/Cloujure\ Buildpack.png) ;
 background-size: cover;
 border: 4px double gray;

 /* prombem whis size */
 width: 237px;
 height: 118px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-bottom: 5%;
 }

