* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* блок с картинкой кольца */
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./bgc.png);
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0px 21% 27% 21%;
  padding-top: 1%;
  gap: 110px;
}
.main-logo {
  /* не получается выровнять логотип по центру */
  /* margin: 0 86px 0 86px; */
}
.navigate {
  display: flex;
  justify-content: space-between;
  margin-right: 0 126px;
  gap: 40px;
}
.intro-link {
  font-family: Roboto;
  size: 14px;
  font-weight: 400;
  /* text-align: left; */
  color: white;
  text-decoration: none;
}
/* .intro-link:not(:last-child) {
  width: 321px; 
   margin-right: 40px;
} */

input {
  /* думаю что это так, но не могу понять как сделать 
    чтобы не было границ и шрифт был как у всех остальных */
  width: 78px;
  height: 30px;
  background-color: transparent;
  background-image: url("./gridicons_search.png");
  background-repeat: no-repeat;
  /* background-position: left center; */
  padding-left: 25px;
  margin-right: 5px;
}
input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  color: white;
  size: 14px;
}
.account {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-block1 {
  font-family: Roboto;
  /* font-style: normal; */
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.08em;
}

.btn {
  display: inline-block;
  margin: 50px 848px 50px 848px;
  padding: 15px 35px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: white;
  color: #333;
}
.line {
  width: 100%;
  height: 0;
  border: 1px solid #ffffff;
  background: #ffffff;
}
.logo-brands {
  width: 1110px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 30px 405px 30px 405px;
}

/* BLOCK2 */

.block2 {
  width: 1110px;
  height: 851px;
  background-color: white;
  margin: 100px 405px 120px 405px;
}
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
.bordered-link {
  width: 171px;
  height: 61px;
  background-color: white;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 4px 4px rgb(73, 72, 72);
  margin-bottom: 55px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}
.bordered-link:hover {
  background-color: darkgray;
  color: white;
}
.choose {
  display: flex;
  justify-content: space-between;
}
.title-block2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin: 15px 60px;
}

.jeweleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 55px;
}

.jewelery {
  border: 4px double gray;
  width: 350px;
  height: 280px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  padding: 222px 0 30px 0;
}

/* BLOCK3  */

.block3 {
  background-image: url(./foneBlock3.png);
  max-width: 1920px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title3 {
  margin: 100px 785px 15px 785px;
  color: white;
  font-size: 21px;
}

.title-block3 {
  margin: 0px 690px 45px 690px;
  color: white;
  font-size: 30px;
  line-height: 40px;
}

.text-block3 {
  margin: 0px 595px 60px 595px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}

.btn-salon {
  display: inline-block;
  margin: 0px 848px 100px 848px;
  padding: 15px 35px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-salon:hover {
  background-color: gray;
}

/* BLOCK4 */
.block4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title4 {
  margin: 120px 0 18px 0px;
  color: #333;
  font-size: 21px;
}

.title-block4 {
  margin-bottom: 57px ;
  color: #333;
  font-size: 30px;
  line-height: 40px;
}
.articles {
  margin: 0px 0 60px ;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.article1 {
  background-image: url(./block4/art1.png);
  width: 350px;
  height: 370px;
}
.article2 {
  background-image: url(./block4/art2.png);
}
.article3 {
  background-image: url(./block4/art3.png);
}
.article {
  width: 350px;
  height: 370px;
  border: 4px double gray;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  padding: 250px 20px 10px 20px;
 }
 
 .btn-blog {
  display: inline-block;
  margin: 0px 848px 100px 848px;
  padding: 15px 35px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-blog:hover {
  background-color: wheat;
  color: #333;
}